.container-button{
  padding: 2em 0 2em 0;
}

.cancelButton{
  padding-right: 1.5em;
}

.containerUP{
  padding-top: 2em;
}

.textareacontainer {
  display: flex; 
  flex-direction: column; 
  padding-top: 2em;
}

.typeoffiletext{
  text-align: center;
  padding-left: 1rem !important;
}

.mt-5 {
  margin-top: 1rem !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.title{
  padding-top: 1.7em;
  padding-left: 2em;
}

.character-count{
margin-top: 0;
text-align: right;
}