@import "bootstrap-italia/src/scss/utilities/colors_vars.scss";

:host{
  display: flex;
  background-color: $dark;
  min-height: 100%;
  background-image: url('../../../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
it-card{ display:flex; flex: 1; flex-basis: calc(100% / 4); max-width: 600px;}
