.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: url('../../../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.elementContainer {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

#title {
  padding-bottom: 10%;
}

.description {
  padding-bottom: 10%;
}

#title,
.description{
  color: white;
}
