@use "./../../../custom-theme.scss" as theme;

::ng-deep .it-nav-wrapper{ display: none;}

#sibylla-selection-link{
  margin-right: 1rem;
  img{ vertical-align: middle; }
}

::ng-deep .it-header-slim-wrapper .it-header-slim-wrapper-content .it-header-slim-right-zone
{
  align-self: center;
}


main {
  flex-grow: 1;
}

footer {
  height: 70px;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // background-color: #{mat.get-color-from-palette(theme.$app-primary, A400)};
}
