<app-header expand="false" showSearch="false" slimTitle="Sibylla Assistant">
  <ng-container slimLeftZone *ngIf="!noHome">
    <a [routerLink]="'/selection'" id="sibylla-selection-link">
      <img src="../../../assets/home.png" />
    </a>
  </ng-container>

  <ul class="link-list" slimLinkList *ngIf="tabLinks.length > 0">
    <li *ngFor="let link of tabLinks; let i = index">
      <a
        class="dropdown-item list-item"
        [routerLink]="link.url"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [ngClass]="{ active: rla.isActive }"
        (click)="setActiveTab(i)"
        >{{ link.label }}</a
      >
    </li>
  </ul>

  <ng-container slimRightZone>
    <it-dropdown mode="link">
      <span button class="user_icon"
        ><img src="../../../assets/user.png"
      /></span>
      <ng-container list>
        <it-dropdown-item
          href="/profile"
          [iconName]="'user'"
          iconPosition="left"
          >Profilo</it-dropdown-item
        >
        <it-dropdown-item
          href="#"
          (click)="logout()"
          [iconName]="'logout'"
          iconPosition="left"
          >Logout</it-dropdown-item
        >
      </ng-container>
    </it-dropdown>
  </ng-container>
</app-header>

<main [@slideAnimation]="activeTabIndex">
  <router-outlet></router-outlet>
</main>
