@use "@angular/material" as mat;
@use "./../../../custom-theme.scss" as theme;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 70px;
  z-index: 2;
  @include mat.elevation(2);
  .navigation-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    .nav-button {
      color: var(--grey-500);
      &.active-button {
        background: rgba(0, 0, 0, 0.15);
        color: black;
      }
    }
  }
}

main {
  flex-grow: 1;
}

footer {
  height: 70px;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // background-color: #{mat.get-color-from-palette(theme.$app-primary, A400)};
}
