<h1 mat-dialog-title>{{language.writeAContent}}</h1>
<div mat-dialog-content class="dialog-content">

  <form [formGroup]="factForm" (ngSubmit)="onSubmit()" class="fact-form">
        <it-input formControlName="title"></it-input>
      <mat-error *ngIf="title?.hasError('required') && title?.touched">
        {{language.titleIsRequired}}
      </mat-error>
      <it-textarea [rows]="5" formControlName="content"></it-textarea>
      <mat-error *ngIf="content?.hasError('required') && content?.touched">
        {{language.contentIsRequired}}
      </mat-error>
      <mat-error *ngIf="content?.hasError('minlength') && content?.touched">
        {{language.contentMin10Characters}}
      </mat-error>
  </form>
  <div class="character-count">
    {{ factForm.get('content')?.value?.length ?? 0 }} / 1200
</div>
</div>
<div mat-dialog-actions align="end" class="action-buttons">
  <button itButton="danger" class="me-2" (click)="onDelete()">{{language.delete}}</button>
  <button mat-dialog-close itButton="outline-primary" class="me-2">{{language.close}}</button>
  <button
    *ngIf="!data.id"
    mat-flat-button
    color="primary"
    class="add-button"
    type="submit"
    (click)="onSubmit()"
  >
    {{language.add}}
  </button>
  <button itButton="primary" class="me-2" (click)="onEdit()">{{language.edit}}</button>

</div>
