<header>
  <h3 class="title">{{ title }}</h3>
  <div class="navigation-buttons">
    <a
      mat-flat-button
      *ngFor="let link of tabLinks"
      [routerLink]="link.url"
      routerLinkActive="active"
      #rla="routerLinkActive"
      [ngClass]="{ 'active-button': rla.isActive }"
      class="nav-button"
    >
      {{ link.label }}
    </a>
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <a mat-menu-item *ngFor="let option of menuLinks" [routerLink]="option.url">
        <mat-icon fontSet="material-icons-outlined">{{ option.icon }}</mat-icon>
        <span>{{ option.label }}</span>
      </a>
      <a mat-menu-item (click)="logout()">
        <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
        <span>{{ "Logout" }}</span>
      </a>
    </mat-menu>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p><strong>Cineca</strong> R&D</p>
</footer>
