@use "@angular/material" as mat;
@use "./../../../custom-theme.scss" as theme;

.main-container {
  display: flex;
  height: 100%;
  .context {
    &-header {
      padding-top: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .number-info {
        font-size: 16px;
        font-weight: 700;
        padding: 12px;
        border-radius: 40px;
        &.factsUsed {
          background: #{mat.get-color-from-palette(theme.$app-primary, 500, 0.2)};
        }
        &.factsTotal {
          background: #{mat.get-color-from-palette(theme.$app-grey, 100)};
        }
      }
      .add-content-button {
        font-weight: 500;
        margin-left: 16px;
      }
    }

    &-container {
      flex-grow: 1;
      padding: 0 16px;
      width: 50%;
      max-height: calc(100vh - 48px);
      overflow: auto;

      .fact {
        border-radius: 12px;
        margin-bottom: 16px;
        padding: 8px 10px;
        cursor: pointer;
        .title-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .score {
            font-weight: bold;
            font-size: large;
            background: #{mat.get-color-from-palette(
                theme.$app-primary,
                500,
                0.3
              )};
            padding: 4px 6px;
            border-radius: 5px;
          }
        }
        .infoAndFeedContainer {
          display: flex;
          justify-content: space-between;
          .feedback-buttons-fact {
            display: flex;
            padding: 4px 0 0 0;
          }
        }
        p {
          margin: 4px 0;
        }
        @include mat.elevation(2);
        background: #{mat.get-color-from-palette(theme.$app-grey, 100)};
        &.usedForAnswer {
          background: #{mat.get-color-from-palette(theme.$app-primary, 500, 0.2)};
        }
      }
    }
  }

  ::ng-deep .chatbot {
    width: 50%;
    height: 100%;
    padding: 60px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    app-chat-modular {
      .chatbot-container {
        border-radius: 4px;
        .chatbot-header-title {
          //border radius only on top
          border-radius: 4px 4px 0 0;
        }
        .chatbot-body-messages {
          max-height: calc(100vh - 326px) !important;
        }
      }
    }
  }

  app-chat-modular {
    height: 100%;
  }
}

.addSource {
  margin-left: 2em;
}

app-fact-list {
  display: block;
  height: calc(100vh - 260px) !important;
}
