<div class="main-container">
  <!-- CHAT -->
  <div class="chatbot">
    <app-chat-modular
      [mode]="'explain'"
      (factsChanged)="handleFactsChange($event)"
      (updateUserMessage)="updateUserMessage($event)"
      (updateAssistantMessage)="updateAssistantMessage($event)"
      (updateActiveChat)="updateActiveChat($event)"
    ></app-chat-modular>
  </div>
  <!-- CONTESTO -->
  <div class="context-container">
    <br />
    <div class="context-header">
      <div style="display: flex; gap: 16px">
        <span class="number-info factsUsed" *ngIf="N_factsUsedForAnswer > 0"
          >{{ N_factsUsedForAnswer }} {{ language.usedForAnswering }}</span
        >
        <span class="number-info factsTotal" *ngIf="N_totalFacts > 0"
          >{{ N_totalFacts }} {{ language.retrieved }}</span
        >
      </div>
      <div class="addSource">
        <div class="d-flex gap-2">
          <button type="button" itButton="primary" (click)="openAddSourceDialog()">
            {{ language.addSource }}
          </button>
        </div>
      </div>
    </div>
    <br />
    <ng-container *ngIf="false">
      <div
        class="fact"
        *ngFor="let fact of facts; index as i"
        [class.usedForAnswer]="!fact.outOfLimit"
        (click)="openFactDialog(fact)"
      >
        <div class="title-container">
          <strong>{{ fact.title }}</strong>
          <span
            class="score"
            matTooltip="Similarità dell'informazione rispetto alla domanda"
            matTooltipPosition="left"
            >{{ fact.score }}</span
          >
        </div>
        <div class="infoAndFeedContainer">
          <div class="info-container">
            <p>{{ language.source }}: {{ fact.citation }}</p>
            <p>{{ language.category }}: {{ fact.category }}</p>
            <p>{{ language.type }}: {{ fact.factType }}</p>
          </div>
          <div class="feedback-buttons-fact">
            <button
              mat-icon-button
              class="small-icon-button"
              (click)="
                giveFeedBackFact(fact.id, true); $event.stopPropagation()
              "
              *ngIf="fact.feedback == true || fact.feedback == undefined"
              [disabled]="fact.feedback != undefined"
            >
              <mat-icon fontSet="material-icons-outlined">thumb_up</mat-icon>
            </button>
            <button
              mat-icon-button
              class="small-icon-button"
              (click)="
                giveFeedBackFact(fact.id, false); $event.stopPropagation()
              "
              *ngIf="fact.feedback == false || fact.feedback == undefined"
              [disabled]="fact.feedback != undefined"
            >
              <mat-icon fontSet="material-icons-outlined">thumb_down</mat-icon>
            </button>
          </div>
        </div>
        <p>{{ fact.content }}</p>
      </div>
    </ng-container>
    <app-fact-list [facts]="facts" (onEditFact)="openFactDialog($event)" (onUpvoteFact)="buildFeedBackFact($event, true)" (onDownvoteFact)="buildFeedBackFact($event, false)"></app-fact-list>
  </div>
</div>
